---
import BaseLayout from './BaseLayout.astro';

type Props = {
  title: string;
  description?: string;
  noindex?: boolean;
  nofollow?: boolean;
  image?: string;
  type?: 'website' | 'article';
  author?: string;
  breadcrumbs?: { label: string; href: string }[];
};

const props = Astro.props as Props;
---

<BaseLayout {...props}>
  <div class="site-wrap py-8">
    <slot />
  </div>
</BaseLayout>
